name: C/C++ CI

on:
  push:
    branches: [ "dev.integration/jni-binding" ]
  pull_request:
    branches: [ "master" ]

jobs:
    my_job:
      name: deploy to staging
      runs-on: ubuntu-22.04
#    runs-on: ubuntu-latest

#    steps:
#    - uses: actions/checkout@v4
#    - name: configure
#      run: ./configure
#    - name: make
#      run: make
#    - name: make check
#      run: make check
#    - name: make distcheck
#      run: make distcheck
